*{
    box-sizing: border-box;
    margin: 0;
}

/* ********* header */
header{
    height: 10vh;
    background-image: url("../img/pattern.png");
    background-size: 40vh;
    background-position: top;
    background-color: #53a9ff;
}

#logo{
    height: 5vh;
    margin-top: 4vh;
    margin-left: 1vw;
}
/* / header*/


/* ********* main */
main{
    width: 98vw;
    margin: auto;
    margin-top: 2vh;
    margin-left: 1vw;
}


/* ********* Sezione titolo-autore-data */
h1{
    font-size: 4vh;
}

.sottotitolo{
    color: grey;
}

.sott-uno{
    font-size: 1.8vh;
    display: inline-block;
}

#sigla{
    display: inline-block;
    color: #53a9ff;
}

.sott-due{
    font-size: 1.3vh;
}
/* / Sezione titolo-autore-data*/


/* ********* Sezione immagini-didascalie */
.img-container{
    margin-top: 2vh;
}

.img-container-foto1{
    background-image: url("../img/tim-1.jpg");
    background-size: cover;
    background-position: center;
    width: 54vw;
    height: 37vh;
    display:inline-block;
}

.img-container-foto2{
    background-image: url("../img/tim-2.jpg");
    background-size: cover;
    background-position: center;
    width: 42vw;
    height: 37vh;
    display: inline-block;
}

.didascalia{
    font-size: 1.4vh;
}
/* / Sezione immagini-didascalie */


/* ********* Sezione paragrafi pre-tabella */
.std{
    margin-top: 3vh;
    font-size: 1.6vh;
}

.highlighter{
    background-color: yellow;
}

.lista{
    /*So che non si dovrebbero mai usare margin negativi, ma non ho trovato altro modo per farlo funzionare*/
    margin-left: -20px;
}
/* / Sezione paragrafi pre-tabella */


/* ********* Sezione tabella */
.riga-intest{
    background-color: #37aef3;
    text-align: left;
    color: white;
}

.col12{
    width: 20vw;
}

.riga-azzurra{
    background-color: #71f1fa98;
}
/* / Sezione tabella */


/* ********* Sezione paragrafi post-tabella */

/*
classi usate:
.std (sezione paragrafi pre-tabella)
.highlighter (sezione paragrafi pre-tabella)
*/

/* / Sezione paragrafi post-tabella */
/* / main */


/* ********* footer */
footer{
    width: 98vw;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1vw;
    margin-bottom: 3vh;
}

h2{
    color: grey;
}

.img-footer{
    height: 20vh;
    width: 22vw;
    margin: left;
    margin-top: 1.5vh;
    padding-top: 1vh;
    padding-left: 1vw;
    background-position: center;
    background-size: cover;
}

.foot-foto-1{
    background-image: url("../img/monitor.jpg");
}

.foot-foto-2{
    background-image: url("../img/graph.jpg");
}

.scritta-foto{
    font-size: 2.5vh;
    color: white;
}

/* / footer */