*{
    box-sizing: border-box;
    margin: 0;
}

/* ********* header */
header{
    height: 10vh;
    background-image: url("../img/pattern.png");
    background-size: 40vh;
    background-position: top;
    background-color: #53a9ff;
}

#logo{
    height: 5vh;
    margin-top: 4vh;
    margin-left: 1vh;
}
/* / header*/


/* ********* main */
main{
    width: 98vw;
    margin: auto;
    margin-top: 2vh;
}


/* ********* Sezione titolo-autore-data */
h1{
    font-size: 5vh;
}

.sottotitolo{
    color: grey;
}

.sott-uno{
    font-size: 2vh;
    display: inline-block;
}

#sigla{
    display: inline-block;
    color: #53a9ff;
}

.sott-due{
    font-size: 1.3vh;
}
/* / Sezione titolo-autore-data*/


/* ********* Sezione immagini-didascalie */
.img-container{
    margin-top: 2vh;
}

.img-container-foto1{
    border: 1px solid black;
    background-image: url("../img/tim-1.jpg");
    background-size: cover;
    background-position: center;
    width: 51vw;
    height: 42vh;
    display:inline-block;
}

.img-container-foto2{
    border: 1px solid black;
    background-image: url("../img/tim-2.jpg");
    background-size: cover;
    background-position: center;
    width: 41vw;
    height: 42vh;
    display: inline-block;
}

.didascalia{
    font-size: 1.4vh;
}
/* / Sezione immagini-didascalie */


/* ********* Sezione paragrafi pre-tabella */
.std{
    margin-top: 3vh;
    font-size: 1.8vh;
}

.highlighter{
    background-color: yellow;
}

.lista{
    /*So che non si dovrebbero mai usare margin negativi, ma non ho trovato altro modo per farlo funzionare*/
    margin-left: -1vw;
}
/* / Sezione paragrafi pre-tabella */


/* ********* Sezione tabella */
.riga-intest{
    background-color: #37aef3;
    text-align: left;
    color: white;
}

.col12{
    width: 20vw;
}

.riga-azzurra{
    background-color: #71f1fa98;
}
/* / Sezione tabella */


/* ********* Sezione paragrafi post-tabella */

/* / Sezione paragrafi post-tabella */


/* / main */


/* ********* footer */

/* / footer*/